@using Microsoft.CodeAnalysis.Scripting
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h2>Số sản phẩm: @ViewBag.demSanPham.</h2>
<h2>Số user: @ViewBag.demUser </h2>
<h2>Số đơn hàng: @ViewBag.demDonHang</h2>
<h2>Thành công: @ViewBag.donHangThanhCong </h2>
<h2>Đã hủy:  @ViewBag.donHangDaHuy</h2>
<h2>Doanh thu:  @ViewBag.doanhThu.000vnđ </h2>

@* 
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/site.js"></script> *@

<script>

    $('.tq').addClass('active');
</script>