@model DAPMver1.Data.VatLieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VatLieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatlieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatlieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVatLieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
