@model DAPMver1.Data.SanPham

<h2>Chi tiết sản phẩm: @Model.TenSanPham</h2>

<div>
    <h3>Mô tả:</h3>
    <p>@Model.MoTa</p>
</div>
<div>
    <h4>Giá tiền mới: @Model.GiaTienMoi</h4>
    <h4>Giá tiền cũ: @Model.GiaTienCu</h4>
    <h4>Ngày tạo: @Model.NgayTao</h4>
    <h4>Chất liệu: @Model.MaVatLieuNavigation?.TenVatlieu</h4>
    <h4>Loại sản phẩm: @Model.MaDanhMucNavigation?.TenDanhMuc</h4>
    <h4>Nhà cung cấp: @Model.MaNhaCungCapNavigation?.TenNhaCungCap</h4>
</div>

<a asp-action="Index">Quay lại danh sách sản phẩm</a>
