@model IEnumerable<BanTrangSuc.Data.SanPham>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTienMoi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTienCu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhaCungCapNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaVatLieuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTienMoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTienCu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnhSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanhMucNavigation.MaDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNhaCungCapNavigation.MaNhaCungCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaVatLieuNavigation.MaVatLieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSanPham">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSanPham">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSanPham">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
